@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to <br />Racing Digital Backend Portal</h1>
    <p><a href="https://racingdigital.adrianilewicz.com">Access frontend here</a>.</p>
    <form method="post" asp-controller="Home" asp-action="Migrate" class="mb-3">
        <button type="submit" class="btn btn-primary">Migrate Database</button>
    </form>
    <form method="post" asp-controller="Home" asp-action="SeedData" class="mb-3">
        <button type="submit" class="btn btn-secondary">Seed Data</button>
    </form>
</div>


<div class="modal fade" id="resultModal" tabindex="-1" aria-labelledby="resultModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="resultModalLabel">Result</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Result text will be injected here -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



